:root {
    --light-div: #ffffff;
    --dark-div: #333333;
    --bikey: #f7941d;

}

@font-face {
    font-family: "Gluk";
    src: url("./Digitalt.ttf");
    src: url("./Digitalt.otf") format("opentype")
}


html,
body {
    height: 100%;
    background-color: var(--light-div);
    color: var(--dark-div);
    font-family: 'Open Sans', sans-serif;
}

#landing-page {
    /* The image used */
    background-image: url("../img/landing.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-page .patent {
    width: 150px;
    position: absolute;
    top: 5%;
    right: 5%;
    transform: rotate(-10deg)
}

#landing-page video {
    width: 100%;
}

.section {
    height: auto;
}


.feature {
    display: relative;
    margin: 0;
}

h2 {
    font-size: 2.4em;
    font-family: 'Cabin Sketch', cursive;
    text-shadow: 1px 1px 1px #ccc;
}

p {
    font-size: 1.5em;
    line-height: 1.8em;
}


div a,
.feature a {
    font-family: 'Cabin Sketch', cursive;
    width: 30%;
    border-radius: 10px;
}

.k {
    display: inline;
    color: var(--bikey);
}

.copy {
    vertical-align: super;
    font-size: 12px
}

.bikey-text {
    font-family: "Gluk";
    letter-spacing: 2px;
    color: var(--light-div);
}

.light .bikey-text {
    color: var(--dark-div);
}

.feature-image {
    line-height: 0;
    padding: 0;
}

.feature-detail {
    padding-left: 6%;
    padding-right: 6%;
}

.shop-description h2 {
    font-size: 3em;
}

.shop-description p {
    font-size: 1.2em;
    line-height: 1.4em;
}

.shop-description a {
    width: 50%;
}

#store figure,
#store .item-wrapper {
    border-radius: 100px;
}

.columns:not(:last-child) {
    margin-bottom: 0;
}

.dark,
.light {
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.dark {
    background-color: var(--dark-div);
    color: var(--light-div);
}

.light {
    background-color: var(--light-div);
    color: var(--dark-div)
}

.dark h2 {
    border-bottom: 1px solid #777;
}

.light h2 {
    border-bottom: 1px solid #ddd;
}

.feature-image img {
    border-radius: 1000px;
    width: 100%;
    height: 80%;
    margin-top: 5%;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.5);
}

.feature p,
.feature h2 {

    margin-bottom: 20px;
}

.feature p,
.feature h2,
.feature {
    text-align: center;
}


.shop-description a {
    margin: 2em auto;
}

#feature-2-mobile,
#feature-4-mobile {
    display: none;
}

.feature .hero-body div {
    padding-top: 5%;
}

.feature h2 {
    text-transform: uppercase;
    color: var(--bikey);
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.dark,
#store {
    background-image: url(../img/back.jpg);
    background-position: bottom;
    background-size: cover;
}

#store {
    padding-left: 15%;
    padding-right: 15%;
    color: var(--light-div)
}

.feature-image {
    position: relative;
    text-align: center;
    align-content: center;
}

.feature-image a {
    position: absolute;
    bottom: 3%;
    left: 33.5%;
}

.light .button.is-primary.is-inverted.is-outlined {
    background-color: var(--dark-div);
    border-color: var(--dark-div);
    color: var(--bikey);
    opacity: 1;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: bold;
}

.dark .button.is-primary.is-inverted.is-outlined {
    background-color: var(--light-div);
    border-color: var(--light-div);
    color: var(--bikey);
    opacity: 1;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: bold;
}


div:hover .button.is-primary.is-inverted.is-outlined {
    transform: scale(1.3, 1.1);
    opacity: 1;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);

}

a:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

.button.is-success {
    background-color: var(--light-div);
    border-color: var(--light-div);
    color: var(--dark-div);
    padding-left: 10%;
    padding-right: 10%;
    opacity: 1;
    transition: 0.3s;
}

div:hover .button.is-success {
    background-color: var(--light-div);
    border-color: var(--light-div);
    color: var(--dark-div);
    padding-left: 10%;
    padding-right: 10%;
    opacity: 1;
    font-weight: bold;
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/*
    STORE IMAGEs 
*/
.container {
    margin: 0 auto;
    max-width: 80%;
}


/* Useful Classes */
.xy-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transition {
    transition: all 700ms ease-in-out;
}

.r-3-2 {
    width: 100%;
    padding-bottom: 66.667%;
    background-color: #ddd;
}

.image-holder {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Main Styles */
.gallery-wrapper {
    position: relative;
    overflow: hidden;
}

.gallery {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}

.item-wrapper {
    cursor: pointer;
    width: 20%;
    /* arbitrary value */
    display: inline-block;
    background-color: white;
}

.gallery-item {
    opacity: 0.3;
}

.gallery-item.active {
    opacity: 1;
    /*border-bottom: 6px solid var(--light-div);*/
    border-bottom: 10px solid var(--light-div);
    box-sizing: border-box;
}

.controls {
    font-size: 0;
    border-top: none;
}


/*
    Store Description
*/

.shop-description {
    margin: auto auto;
}


#feature-other div {
    text-align: center;
}


.center {
    text-align: center;
}


/*
    FOOTER
*/

#footer {
    padding-bottom: 0;
    background-color: var(--dark-div)
}


#footer img {
    width: 80%;
}

#footer p {
    font-size: 1em;
    text-align: center;
    align-content: center;
}

#footer .patent {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#footer .foot-text {
    font-size: 1.4em;
}

#footer .author {
    text-align: center;
    font-size: 0.8em;
}

/*
    Media Queries for mobile
*/
@media only screen and (max-width: 1400px) {
    .feature-detail {
        padding-left: 3%;
        padding-right: 3%;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.2em;
    }

    .hero-body {
        padding: 2rem 1.5rem;
    }
}

@media only screen and (max-width: 1200px) {

    h2 {
        font-size: 1.4em;
    }

    p {
        font-size: 1em;
    }

    .hero-body {
        padding: 1rem 1.2rem;
    }
}

@media only screen and (max-width: 1000px) {


    .hero-body {
        padding: 0.6rem 1rem;
    }


    .feature-image a {
        top: 60%;
    }

    .shop-description h2,
    .shop-description p {
        text-align: center;
    }

    .gallery-item.active {
        border-bottom: 5px solid var(--dark-div);
    }

    .feature .hero-body div {
        padding-top: 0;
    }

    .dark .button.is-primary.is-inverted.is-outlined,
    .light .button.is-primary.is-inverted.is-outlined {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {

    #feature-2-mobile,
    #feature-4-mobile {
        display: block;
    }

    .feature-image a {
        top: 70%;
    }

    .button .is-success {
        padding-left: 10%;
        padding-right: 10%;
    }

    #feature-2,
    #feature-4 {
        display: none;
    }

    #feature-other {
        background-color: var(--light-div);
        color: var(--dark-div)
    }

    #footer {
        text-align: center;
        color: var(--light-div);
        background-color: var(--dark-div)
    }

    .bikey-text {
        padding: 3px;
    }

    #landing-page .patent {
        width: 20%;
    }

    #store {
        padding-left: 10%;
        padding-right: 10%;
    }

    .columns {
        margin: 0;
    }


}
